/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.open_account {
		float: none;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.top_text h2 {
		margin-top: 46px;
	}
	.adv_content {
		text-align: center;
		margin-top: 46px;
	}
	.adv_item {
		max-width: 100% !important;
		margin-right: 0;
	}
	.login_form {
		float: none;
		margin: 25px 0;
	}
	.meta_trader_text {
		text-align: center;
	}
	.meta_trader_text .mobile {
		left: 0px;
		top: -42px;
	}
	.merch_accounts {
		padding: 0;
		height: auto;
	}
	.meta_trader_content {
		text-align: center;
	}
	.meta_item ul {
		list-style-type: none;
	}
	.bg_wrapper,
	.merch_data_wrap {
		display: none;
	}
	.merch_acc_mobile {
		display: inline-block;
	}
}
/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.head_text {
		text-align: center;
	}

	.top_menu {
		display: none;
		float: none;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		border: 1px solid transparent;
		text-align: center;
		z-index: 10;
		background-color: rgba(0,0,0,.9);
	}
	.logo_wrapper {
		float: none;
	}
	.top_menu ul {
		position: relative;
		top: 38%;
		transform: translateY(-50%);
	}
	.top_menu ul li {
		display: block;
		margin: 70px 0;
	}
	.top_menu a {
		font-size: 26px;
		margin: 0 auto;
		color:  #fff;
	}
	#nav-toggle {
		display: inline-block !important;
		position: fixed;
		top: 5%;
		right: 10%;
	}
	.support {
		float: none;
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.meta_trader_text .mobile {
		display: none;
	}
	.meta_trader_text h2{
		font-size: 1.250em;
	}
	.meta_trader_text p {
		font-size: 1em;
	}
	.meta_trader_text {
		min-height: auto;
	}
	.meta_item {
		padding-bottom: 60px;
	}

	.tech_item-wrap{
		margin-top: 15px;
	}
	.tech_content .tech_item-wrap{
		margin-left: 0;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {


	header .open_account {
		margin-top: 25%
	}
	.open_account form input:nth-of-type(2){
		margin-top: 20px;
	}
	.head_text span:nth-of-type(1) {
		font-size: 1.9em;
		line-height: 1;
	}
	.head_text span:nth-of-type(1) i {
		color: #ea5b0c;
		font-style: normal;
	}
	.head_text span:nth-of-type(2) {
		font-size: 5em;
		margin-left: -5px;
		line-height: 1.2;
	}
	.head_text span:nth-of-type(3),
	.head_text span:nth-of-type(5),
	.head_text span:nth-of-type(4),
	.head_text span:nth-of-type(6) {
		font-size: 1em;
		font-weight: 700;
		line-height: 1.2;
	}
	.top_menu ul li {
		margin: 55px 0;
	}
	.top_menu a {
		font-size: 16px;
	}
	.advantages {
		padding: 0;
		height: auto;
	}
	.technology {
		padding: 0 0 40px 0;
		height: auto;
	}
	.merch_accounts {
		padding: 0;
	}
	.registration {
		padding: 0;
	}
	.registration_form {
		display: none;
	}

	.fxopen_registration{
		display: inline-block;
	}
	#nav-toggle {
		right: 15%;
	}
	.merch_table table thead td {
		font-size: 12px;
	}
	.merch_table {
		font-size: 8px;
		line-height: 10px;
		font-weight: 600;
	}
	.merch_table table tbody td {
		padding: 2px;
	}
	.tech_content img {
		width: 100%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

	header .open_account {
		margin-top: 5%;
	}
	.open_account form input:nth-of-type(2){
		margin-top: 20px;
	}
	.head_text span:nth-of-type(1) {
		font-size: 1.5em;
		line-height: 1;
	}
	.head_text span:nth-of-type(2) {
		font-size: 3.4em;
		margin-left: -5px;
		line-height: 1.2;
	}
	.head_text span:nth-of-type(3),
	.head_text span:nth-of-type(5),
	.head_text span:nth-of-type(4),
	.head_text span:nth-of-type(6) {
		font-size: 0.9em;
		font-weight: 700;
		line-height: 1.2;
	}
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}